body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.lendButton {
  padding: "40px" !important;
  padding-left: "55px" !important;
  padding-right: "55px" !important;
  margin-right: "5px" !important;
  font-size: "25px" !important;

  letter-spacing: "2px" !important;
}
.borrowButton {
  padding: "40px" !important;
  margin-right: "8px" !important;
  font-size: "25px" !important;

  letter-spacing: "2px" !important;
}
